body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5e3e3;
}

.container {
  background-color: rgba(39, 103, 167, 0.726);
  height: 60vh;
  border: 3px outset rgb(20, 236, 0);
  font-size: 2rem;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  align-content: space-around;

}

/* when working with flex-direction to be 'column', then if you want to make align the content in ceneter, you 
must use the following property: justify-content: ceneter, this because the main axis & cross axis changes*/
.container-1{
  background-color: rgba(39, 103, 167, 0.726);
  height: 90vh;
  border: 3px solid rgb(252, 0, 0);
  font-size: 2rem;
  color: white;
  display: flex;
  flex-flow: column wrap;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-content: center;
  /* align-content: space-around; */

}


.box {
  padding: 30px;
  text-align: center;
  background-color: white;
  border: 1px inset white;
  border-radius: 0.25em;
  /* margin:1rem; */
}

.box1 {
  background-color: rgb(218, 114, 114);
}
.box2 {
  background-color: rgb(24, 179, 89);
}
.box3 {
  background-color: rgb(180, 114, 218);
}
.box4 {
  background-color: rgb(187, 216, 59);
}
.box5 {
  background-color: rgb(199, 32, 101);
}
.box6 {
  background-color: rgb(247, 113, 3);
}
